main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 14px;
}

main h2 {
    line-height: 3em;
    color: #000;
}

main table {
    width: calc(100% - 20px);
}



main table td {
    background-color: hsla(0, 0%, 100%, .8);
}

main table th, main table td {
    line-height: 3em;
    padding: 0 12px 0 12px;
}

main table th:nth-child(1), main table td:nth-child(1) {
    width: 80px;
    text-align: center;
}

main table td:nth-child(2) {
    width: 40%;
}